.another-features__title {
  .title-font;
  text-align: center;
  margin: 0 0 30px;
}

.another-features__description {
  .content-font;
  margin: 0;
}

.another-features__item {
  font-weight: 400;
  color: @text-gray;
  list-style: none;
  position: relative;

  &::before {
    .icon-property;
    width: 15px;
    height: 15px;
    left: -38px;
    top: 5px;
    background: url("../img/succes-logo-invert.png");
  }
}

.another-features {
  position: relative;
  margin-top: 50px;

  &__mobile-img {
    display: none;
  }
}

.another-features__content-wrapper {
  margin-top: 50px;
}

.another-features__list {
  margin: 32px 0 0;
}
@media (min-width: @desktop-width) {
  .another-features {
    margin-top: 175px;
    width: 1140px;

    &__mobile-img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .another-features__container {
    margin-left: 50%;
  }

  .another-features__content-wrapper {
    margin-top: 80px;
  }

  .another-features__title {
    text-align: left;
  }
}
