.another-features__title {
  .title-font;
  margin: 0;
}

.another-features__description {
  .content-font;
  margin: 0;
}

.another-features__item {
  font-weight: 400;
  color: @text-gray;
  list-style: none;
}
