.downloads__title {
  .title-font;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
  margin: 0 0 87px;
}

.downloads {
  background: @red-gradient;
  padding-bottom: 120px;
  padding-top: 117px;
}

.downloads__item {
  list-style: none;
  background-color: #ffffff;
  min-height: 115px;
  width: 320px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  transition-duration: @transition-time;
  transition-timing-function: @transition-function;


  &:hover {
    transform: scale(1.05);
  }

  &:active {
    box-shadow: inset 0 2px 2px rgba(172,16,0,1);
  }

  &::before {
    .icon-property;
    width: 115px;
    height: 115px;
    background-color: #f7fafc;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--apple::before {
    background-image: url(../img/apple-icon.png);
  }

  &--android::before {
    background-image: url(../img/android-icon.png);
  }

  &--windows::before {
    background-image: url(../img/windows-icon.png);
  }
}

.downloads__text-link {
  font-size: 30px;
  line-height: 24px;
  color: #222222;
  font-family: "Dosis";
  font-weight: 600;
}

.downloads__source {
  .content-font;
}

.downloads__list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.downloads__link {
  min-height: 55px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 27px;
  padding-left: 133px;
}

@media (min-width: @tablet-width) {
  .downloads__list {
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .downloads__title {
    line-height: 24px;
  }

  .downloads__list {
    width: @desktop-width;
    justify-content: space-between;
  }
}
