.features__title {
  font-family: "Dosis";
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #222222;
  margin: 0;
  margin-bottom: 25px;
}

.features__description {
  .content-font;
  margin: 0;
}

.features {
  background-color: #ffffff;
  padding-bottom: 170px;
}

.features__item {
  list-style: none;
  flex-basis: 270px;
  padding-left: 90px;
  margin-bottom: 57px;
}

.features__list {
  margin: 0;
  margin-top: 118px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
