.features__title {
  font-family: "Dosis";
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #222222;
}

.features__description {
  .content-font;
}

.features {
  background-color: #ffffff;
}

.features__item {
  list-style: none;
}
