.page-header__download {
  font-weight: 500;
  color: #222222;
  text-decoration: none;
  text-align: center;
}

.page-header__logo span {
  font-family: "Dosis";
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  color: #ffffff;
}

.page-header {
  background-image: @red-gradient;
}
