.screenshots__title {
  font-family: "Dosis";
  font-size: 36px;
  line-height: 30px;
  font-weight: @font-weight-medium;
}

.screenshots__description {
  font-weight: @font-weight-light;
  color: @text-gray;
}

.screenshots {
  background-color: #f7fafc;
}
