@text-gray: #777777;
@red-gradient: linear-gradient( 0deg, rgb(253,113,44) 0%, rgb(242,23,128) 100%);

@font-weight-light: 300;
@font-weight-medium: 500;
@font-weight-semibold: 600;

@desktop-width: 1140px;
